server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    location / {
        proxy_ssl_session_reuse off;
        proxy_ssl_server_name on;
        proxy_pass ${NEWSCONSUMERAPI_ADDRESS};
    }
}